<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Azure" connectionString="Server=gri1o5h8zq.database.windows.net;Database=JackStore;User ID=jck@gri1o5h8zq;Password=T11spawned;Trusted_Connection=false;Encrypt=true;Connection Timeout=30;" />-->
    <add name="Azure" connectionString="server=localhost\sqlexpress;initial catalog=JackStore;Integrated security=SSPI;"/>
  </connectionStrings>
</configuration>