<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Azure" connectionString="Server=tcp:gri1o5h8zq.database.windows.net,1433;Database=JackStore;User ID=jck@gri1o5h8zq;Password=T11spawned;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
  </connectionStrings>
</configuration>